Make.OSF1-alpha filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
rune.3 filter=lfs diff=lfs merge=lfs -text
runestrdup.c filter=lfs diff=lfs merge=lfs -text
runestrrchr.c filter=lfs diff=lfs merge=lfs -text
isalpharune.3 filter=lfs diff=lfs merge=lfs -text
Make.HP-UX-9000 filter=lfs diff=lfs merge=lfs -text
utfdef.h filter=lfs diff=lfs merge=lfs -text
Make.OpenBSD-386 filter=lfs diff=lfs merge=lfs -text
runestrlen.c filter=lfs diff=lfs merge=lfs -text
Make.SunOS-sun4u-cc filter=lfs diff=lfs merge=lfs -text
runestrcat.c filter=lfs diff=lfs merge=lfs -text
utfecpy.c filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
Make.Linux-x86_64 filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
runestrcat.3 filter=lfs diff=lfs merge=lfs -text
runestrchr.c filter=lfs diff=lfs merge=lfs -text
runestrncat.c filter=lfs diff=lfs merge=lfs -text
runestrncmp.c filter=lfs diff=lfs merge=lfs -text
utf.7 filter=lfs diff=lfs merge=lfs -text
Make.Linux-power filter=lfs diff=lfs merge=lfs -text
Make.SunOS-sun4u-gcc filter=lfs diff=lfs merge=lfs -text
utfrune.c filter=lfs diff=lfs merge=lfs -text
utfutf.c filter=lfs diff=lfs merge=lfs -text
runestrcpy.c filter=lfs diff=lfs merge=lfs -text
runestrecpy.c filter=lfs diff=lfs merge=lfs -text
runestrncpy.c filter=lfs diff=lfs merge=lfs -text
utf.h filter=lfs diff=lfs merge=lfs -text
utflen.c filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
Make.SunOS-sun4u filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
runestrcmp.c filter=lfs diff=lfs merge=lfs -text
runetype.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
Make.Linux-386 filter=lfs diff=lfs merge=lfs -text
utfrrune.c filter=lfs diff=lfs merge=lfs -text
Make.FreeBSD-386 filter=lfs diff=lfs merge=lfs -text
Make.NetBSD-386 filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
rune.c filter=lfs diff=lfs merge=lfs -text
runestrstr.c filter=lfs diff=lfs merge=lfs -text
runetypebody.h filter=lfs diff=lfs merge=lfs -text
utfnlen.c filter=lfs diff=lfs merge=lfs -text
Make.Darwin-386 filter=lfs diff=lfs merge=lfs -text
Make.Darwin-PowerMacintosh filter=lfs diff=lfs merge=lfs -text
